body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #9b4caf;
    margin: 0 auto;
    height: 50px;
  }
  
  header h2 {
    padding: 10px;
    margin: 0;
  }

  canvas {
    /* background-color: #597aac; */
    padding: 0;
    margin: auto;
    display: block;
    /* width: 900px; */
    /* height: 512px; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
 